{% load static %}

<html>
<head>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Items</title>
</head>
<body>
{% for item in items %}
<div class="card">
<h3>{{item.name}}</h3>
<p>Description of {{item.name}}</p>
<p>{{item.description}}</p>
<p class="price">{{item.price}}</p>
<button id="buy-button-{{item.pk}}">Buy</button>
<script type="text/javascript">
    var stripe = Stripe("{{pub_key.key}}");
    document.getElementById('buy-button-{{item.pk}}').addEventListener('click', function () {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        fetch('/buy/{{item.pk}}', {method: 'GET'})
            .then(function (response) {
                return response.json()
            })
            .then(function (session) {
                stripe.redirectToCheckout({sessionId: session.sessionId})
            })
            .then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                }
            });
    });
</script>
    </div>
<br>
<br>
{% endfor %}
</body>
</html>
